/*set border-box to that css uses a more reasonable box model*/

*, *::before, *::after{
	box-sizing: border-box;
}


/*gets rid of default margins*/
*
{
	margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*prevents these from expanding beyond its container and taking up a row*/
img, picture, video, canvas, svg
{
	display: block;
	max-width: 100%
}

/*makes tables look like spreadsheets and less like a spaced-out-grid*/

table{
	border-collapse: collapse;
	border-spacing: 0;
}


.navbar {
    overflow: hidden;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; 
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.navbar_items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    
}

.navbar_image{
    width: 50%;
    cursor: pointer;
}

.navbar_title
{
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    
}

.navbar_links
{
    letter-spacing: .1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;

}

.navbar_links{
    display: block;
    position: relative;
    padding: 0.2em 0;
}


a.navbar_links::after 
{
    content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

a.navbar_links:hover::after,
a.navbar_links:focus::after
{
    transform: scale(1);
}

.menu{
    display: none;
   width: 50px;
}


.main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.info_box
{
    width: 50%;
    padding: 2%;
    border: solid red;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
    color: red;
}

.info_link{
    color: black;
}


.intro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.massage-img
{
    width: 600px;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #de7b11;
}

.about
{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait
{
    width: 200px;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #de7b11;
}

.details{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 700px;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #de7b11;
}


.map
{
    width: 50%;
    cursor: pointer;
}

.contacts{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    height: 100%;
    list-style: inherit;
    }

.contacts li:nth-child(1) {
    list-style-image: url("images/locationmarker.svg");
}
.contacts li:nth-child(2) {
    list-style-image: url('images/phone.png');
}
.contacts li:nth-child(3) {
    list-style-image: url("images/email.png");
}


.footer{
    padding: 2%;
    text-align: center;
}




   

@media only screen and (max-width: 1000px) {
    .menu
    {
        display: block;
    }

    .navbar_links
    {
        display: none;
    }
    .navbar_items
    {
        justify-content: right;
    }
    .details
    {
        width: 70%;
        font-size: 12px;
    }

}
@media only screen and (max-width: 600px) 
{
    .details
    {
        width: 100%;
        font-size: 10px;
    }
    .info_box
    {
        width: 80%;
    }
}


