

  /*set border-box to that css uses a more reasonable box model*/

*, *::before, *::after{
	box-sizing: border-box;
}


/*gets rid of default margins*/
*
{
	margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*prevents these from expanding beyond its container and taking up a row*/
img, picture, video, canvas, svg
{
	display: block;
	max-width: 100%
}

/*makes tables look like spreadsheets and less like a spaced-out-grid*/

table{
	border-collapse: collapse;
	border-spacing: 0;
}

.return
{
    padding: 1%;
    width: 10%;
}

.return-link
{
    white-space: nowrap;
    font-size: 1.17em;
    padding: 5%;
    text-align: center;
    text-decoration: none;
}


body{
  color: white;
  background-color: black;
}

a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.main{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro
{
  text-align: left;
}

.criteria
{
  display: flex; 
  width: 75%; 
  justify-content: space-evenly;
  border: solid #48bae8 5px;
  border-radius: 10px;
  font-size: 20px;
  
}


h3{
  text-align: center;
}

ul{
  padding: 5%;
}

.div2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  text-align: center;
  
}

.low_fi_images
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.low_fi
{
  width: 50%;
}

.img_div
{
  
  margin: 5%;
}

.figma_div
{
  background-color: #48bae8;
  padding: 5px;
  border-radius: 5px;
}

.div3
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.links_div
{
  display: flex;
  justify-content: space-around;
  width: 50%;
}




.title
{
  border: solid #48bae8 5px;
  border-radius: 10px;
  padding: 1%;
  margin: 5%;
}
  
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.hvr-underline-from-left {
  padding-bottom: 3px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #48bae8;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


.hvr-reveal {
  padding: 10%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #48bae8;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 5px;
  border-radius: 25px;
}
